.breadcrumbs-item{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #00C48C;
}

.breadcrumbs-link{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #BBC2D0;
    display: flex;
    align-items: center;
}