.sidebar{
    position: fixed;
    top: 70px;
    left: 0;
    padding-left: 30px;
    color: #fff;
    background: #3D639D;
    padding-top: 34px;
    padding-bottom: 20px;
    height: calc(100vh - 70px);
    border-radius: 0px 30px 0px 0px;
    width: 263px;

    @media screen and (max-width: 1200px) {
        width: 60px;
        padding-left: 0px;
    }

    .sidebar-link{
        width: 233px;
        height: 50px;
        display: flex;
        align-items: center;
        gap: 16px;
        color: #fff;
        padding-left: 30px;
        font-weight: 500;
        transition: 0.4s ease-in-out;
        border-radius: 25px 0 0 25px;

        path{
            fill: #fff;
            transition: 0.4s ease-in-out;
        }

        &:hover{
            background: rgba(255, 255, 255, 0.15);
        }

        span{
            @media screen and (max-width:1200px) {
                display: none;
            }
        }

        @media screen and (max-width:1200px) {
            width: 60px;
            height: 60px;
            padding-left: initial;
            justify-content: center;
            border-radius:  0 0 0 0;
        }

        @media screen and (max-width:960px) {
            border-radius: 60px;
        }
        @media screen and (max-width:425px) {
            width: 40px;
            height: 40px;
            border-radius: 40px;
        }
    }
    .sidebar-link.active{
        background: #fff;
        color: #3D639D;

        path{
            fill: #3D639D;
        }
    }

    @media screen and (max-width: 1200px) {
        width: 60px;
        padding-left: 0px;
    }

    @media screen and (max-width:960px) {
        width: calc(100% - 40px);
        padding-top: 5px;
        bottom: 20px;
        border-radius: 20px 20px 20px 20px;
        left: 20px;
        z-index: 99;
        height: 70px;
        top: auto;

        .sidebar-list{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-top: 0px;
            align-items: center;
            border-radius: 60px;
        }
    }

    @media screen and (max-width: 425px) {
        width: 100%;
        left: 0;
        border-radius: 0px 0px 0px 0px;
        height: 50px;
        bottom: 0;
    }
}